{% extends 'base.html' %} {% block content %}

    <p>Olá {{ first_name }},</p>
    <p>
        Uma recuperação de senha foi solicitada para seu cadastro no Edu Predict,
        um projeto para determinar um índice de potencial evasão de estudantes da UFPR.
        Se você não realizou essa solicitação, por favor, ignore este email. Caso contrário, clique no link
        abaixo para criar uma nova senha e recuperar o acesso à sua conta.
    </p>
    <table
            role="presentation"
            border="0"
            cellpadding="0"
            cellspacing="0"
            class="btn btn-primary"
    >
        <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <a href="{{ url }}" target="_blank">Redefinir senha</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}
